.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px  0;
}
.postwrapper{
    padding: 10px;
}
.posttop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posttopleft{
    display: flex;
    align-items: center;

}

.postprofileimg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postusername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.postdate{
    font-size: small;
}
.postcenter{
    margin: 20px 0;
    
}
.postimg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.postbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postbottomleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.likeicon{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.hearticon{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;

}
.likecounter{
    font-size: 15px;
}
.postcomment{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
